/* styles.css
 * auther: tyanagstr
 */

/* 基本スタイル */

html{
  font-size: 62.5%;
}
 
body {
  color: #222233;
  font-family: "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.0rem;
}

section {
  margin: 5rem 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  font-weight: normal;
}

/* nav */

nav .links__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .links__list__item {
  display: inline-block;
  background-color: #d6d6d6;
  text-align: center;
  flex-grow: 1;
}

nav .links__list__item a {
  display: block;
  text-decoration: none;
  font-size: 2.0rem;
  color: inherit;
  padding: 1rem 0;
  width: 100%;
}

nav .links__list__item:hover {
  opacity: 0.8;
}

/* header */

header {
  margin: 3rem 2rem 3rem;
}

header h1 {
  margin-top: 0;
}

/* main */

main {
  text-align: center;
  width: 90vw;
  margin: 5rem auto;
}

/* intro */

.intro img {
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px gray; 
}

/* skills */

.skills {
  width: 100%; 
  margin: 2rem auto;
}

.langs.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.lang {
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid white;
  box-shadow: 0 0 1rem gray;
  width: 30%;
  margin: 1rem;
}

/* works */

.works {
  text-align: left;
}

.works h1 {
  text-align: center;
}

.work img {
  width: 50%;
}

.work:not(:last-child) {
  margin-bottom: 6rem;
}

.desc {
  width: 50%;
  box-sizing: border-box;
}

.work:nth-of-type(odd) .desc {
  float: left;
  padding-right: 3rem;
}

.work:nth-of-type(even) .desc {
  float: right;
  padding-left: 3rem;
}


/* about */

.about ul {
  width: 100%;
  padding: 0;
  list-style: none;
}

.about li {
  display: inline-block;
}

/* footer */

footer {
  text-align: center;
  color: gray;
  margin: 3rem 0;
}

/* back-to-top */

#back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

#back-to-top a {
  display: block;
  font-size: 5rem;
  color: darkgray;
  text-decoration: none;
}

/* media query */

@media screen and (max-width: 960px) {
}